# static files ignores

/django_test/assets/admin
/static/static_root/admin
/static/media/uploads
/article/migrations

# ignore database file

storage.db

# ignore IDE files

/.idea

# random personal notes

notes.txt
